<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blog</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>
<body>

<h2>Create new Blog</h2>
<form th:object="${blog}" method="post" th:action="@{/blog/save}">
    <table>
        <tr>
            <td>Title</td>
            <td><textarea th:field="*{title}" cols="70" rows="3"></textarea></td>
        </tr>
        <tr>
            <td>Content</td>
            <td><textarea th:field="*{content}" cols="70" rows="15"></textarea></td>
        </tr>
        <tr>
            <td>Write</td>
            <td><input type="text" th:field="*{writer}"></td>
        </tr>
    </table>
    <br/>
    <input type="submit" value="SAVE">
</form>
</body>
</html>