<!doctype html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Document</title>
    <style type="text/css">
        .row{
            overflow: hidden;
        }
    </style>
</head>
<body>
<h3><a th:href="@{/blog/create}">Create Blog</a></h3>
<h3>Blog List</h3>
<form th:object="${blogs}">
    <table border="1">
        <tr>
            <td width="200px">Title</td>
            <td width="400px">Content</td>
            <td width="200px">Writer</td>
        </tr>
        <tr class="row" th:each="blog:${blogs}">
            <td th:text="${blog.title}"></td>
            <td th:text="${blog.content}"></td>
            <td th:text="${blog.writer}"></td>
        </tr>
    </table>
</form>
</body>
</html>